/target/classes/org/example/Main.class
/target/classes/org/example/StringCalculator.class
/target/test-classes/org/example/StringCalculatorTest.class
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
